@IMPORT url("../../standard.css");

#main { 
  margin-top: 20px;
  overflow: auto;
}

#main nav {
  width: 100%;
  overflow: auto;
}
 
#main nav ul li {
  margin-right: 6px;
  padding: 4px;
  float: left;
}

#main nav ul li.selected {
  background-color: #7cc500;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  font-weight: bold;
  color: #fff;
}

dl {
  border: 1px solid #ccc;
}

dt {
  background: #41C3D8;
  border-bottom: 1px solid lightGray;
  color: #fff;
  text-align: center;
  padding: 10px;
}

dd {
  background-color: #f4f4f4;
  color: #7d786b;
  margin: 0;
  font-size: 10.0em;
  overflow: auto;
  text-align: center;
}

table {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  width: 100%;
}

th {
  background: #41C3D8;
  padding: 10px;
  font-weight: normal;
  color: #fff;
}

td {
  color: #7d786b;
  padding: 10px;
}

tr:nth-child(2n) {
  background: #f4f4f4;
}

tr:nth-child(2n+1) {
  background: #fff;
}

td+td {
  border-left: 1px solid #CCC;
}

@media only screen and (min-width: 480px) {

  #main nav {
    float: left;
    margin-top: 6px;
    padding-right: 10px;
    width: 104px;     
  }
  
  #main nav ul li {
    float: none;
    margin: 6px;
  }
  
  #content {
    border-left: 1px solid #ccc;
    float: left;
    margin-top: 12px;
    height: 600px;    
    padding-left: 25px;
    width: 525px;
  }
  
  p {
    margin-top: 0;
  }
  
  dl {
    margin: 0;
  }
  
  table {
    margin: 0;
  }

}

