@IMPORT url("../base.css");

#card {
  background-color: #ffffff;
  border: none;
  margin: 64px auto 0 auto;
  position: relative;
  width: 980px;
}

#logo a {
  background: url(../images/logo-text.png);
  display: block;
  height: 69px;
  margin-top: 5px;
  text-indent: -9999px;
  width: 229px;
}

#logo p {
  color: #80c608;
  font-weight: normal;
  font-size: 1.5em;
  margin: 3px 0 0;
  padding-left: 25px;
}

#spike {
  margin: 0;
}

#spikeLogo {
  background: url(images/spike-header.png) no-repeat;
  height: 219px;
  width: 177px;
  position: absolute;
  top: -59px;
  right: 80px;
  text-indent: -9999px;
  z-index: 1;
}
	
#spikeDialog {
  background: url(images/text-bubble.png) no-repeat;
  color: #9a9a9a;
  font-size: 1.8em;
  font-weight: 500;
  height: 79px;
  width: 317px;
  line-height: 1.2em;
  padding: 25px 40px 25px 34px;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 140px;
}

#content {
  background-color: #02519c;
  background-image: linear-gradient(top, #02519c, #2a7cc6); /* the standard */
  background-image: -moz-linear-gradient(top, #02519c, #2a7cc6); /* FF 3.6+ */
  background-image: -ms-linear-gradient(top, #02519c, #2a7cc6); /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02519c), color-stop(100%, #2a7cc6)); /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(top, #02519c, #2a7cc6); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(top, #02519c, #2a7cc6); /* Opera 11.10 */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 35px;
  padding: 30px;
  position: relative;
  z-index: 0;
}

#content p {
  color: #ffffff;
}

#mission h1 {
  color: #ffffff;
  font-weight: normal;
  margin: 0;
}

#mission p {
  color: #f1c354;
  font-size: 1.2em;
  margin: 0;
}

#icons {
  background-color: #00acc0;
  list-style: none;
  overflow: hidden;
  padding: 8px 0 8px 30px;
  margin: 20px -30px 28px -30px;
}

#icons li {
  float: left;
  width: 27px;
  height: 27px;
  text-indent: -9999px;
}

#football {
  background: url(images/icon-football.png) no-repeat;
  padding-left: 50px;
}

#softball {
  background: url(images/icon-softball.png) no-repeat;
  padding-left: 50px;
}

#basketball {
  background: url(images/icon-basketball.png) no-repeat;
  padding-left: 50px;
}

#soccer {
  background: url(images/icon-soccer.png) no-repeat;
  padding-left: 50px;
}

#volleyball {
  background: url(images/icon-volleyball.png) no-repeat;
  padding-left: 50px;
}

#tennis {
  background: url(images/icon-tennis.png) no-repeat;
  padding-left: 50px;
}

#hockey {
  background: url(images/icon-hockey.png) no-repeat;
}

#learn {
  overflow: hidden;
  padding-bottom: 18px;
}

#learn h2 {
  color: #f1c354;
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#discoverLeagues {
  border-right: 1px solid #5582ab;
  float: left;
  padding-right: 15px;
  width: 178px;
}

#formTeams {
  border-right: 1px solid #5582ab;
  float: left;
  padding-left: 20px;
  padding-right: 15px;
  width: 177px;
}

#play {
  float: left;
  padding-left: 20px;
  width: 177px;
}

#comingSoon {
  position: absolute;
  top: 160px;
  right: 20px;
}

#banner {
  background-color: #6fc41d;
  background-image: url(images/brevard-seal.png), linear-gradient(top, #6fc41d, #acd281); /* the standard */
  background-image: url(images/brevard-seal.png), -moz-linear-gradient(top, #6fc41d, #acd281); /* FF 3.6+ */
  background-image: url(images/brevard-seal.png), -ms-linear-gradient(top, #6fc41d, #acd281); /* IE10 */
  background-image: url(images/brevard-seal.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fc41d), color-stop(100%, #acd281)); /* Safari 4+, Chrome 2+ */
  background-image: url(images/brevard-seal.png), -webkit-linear-gradient(top, #6fc41d, #acd281); /* Safari 5.1+, Chrome 10+ */
  background-image: url(images/brevard-seal.png), -o-linear-gradient(top, #6fc41d, #acd281); /* Opera 11.10 */
  background-repeat: no-repeat;
  background-position: right bottom;  
  border: 1px solid #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 20px 90px 20px 20px;
  width: 195px;
}

#banner p {
  color: #ffffff;
  line-height: 1.3em;
  margin: 0;
}

#subscribe {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  margin-top: 16px;
  padding: 20px;
  width: 265px;
}

#subscribe p {
  text-align: center;
}

#subscribe form > h2:first-child {
  color: #15c5e4;
  font-weight: 700;
  margin: 0 0 12px 0;
  text-align: center;
}

#firstName {
  width: 97px;
}

#lastName {
  margin-left: 6px;
  width: 162px;
}

#email {
  margin-top: 8px;
  width: 265px;
}

#subscribe button {
  margin-top: 8px;
  width: 265px;
}

#subscribe aside p {
  color: #777;
  font-size: 0.6em;
  line-height: 1.0em;
  margin-bottom: 4px;
}

#subscribeResult {
  display: none;
}

#modalOverlay
{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  background: #000;
  opacity: .3;
  filter: alpha(opacity=40);
  z-index:2;
}

#thanks {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #e6e6e6;  
  position: absolute;
  height: 360px;
  width: 360px;
  top: 105px;
  left: 280px;
  z-index: 3;
}

#thanksTitleBar {
  border-radius: 10px 10px 0 0;
  background-color: #41C3D8;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

#thanksTitleBar span {
  color: #fff;
  float: right;
  vertical-align: center;
}

#thanksTitleBar span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#thanksContent {
  padding: 16px;
}

#thanks h1 {
  color: #2a7cc6;
  font-size: 1.3em;
  margin-top: 0;
  text-align: center;
}

#invite {
  margin-top: 20px;
}

#thanks h2 {
  color: #2a7cc6;
  font-size: 1.2em;
  margin-bottom: 0;
  text-align: center;
}

#thanks p {
  font-size: 0.8em;
}

#thanks #send {
  margin-left: 20px;
  width: 56px;
  height: 20px;
}

#thanks #referralLink {
  color: #908a7f;
  padding-left: 20px;
  cursor: pointer;
}

footer {
  color: #9a9893;
  font-size: 0.8em;
  margin: 5px auto;
  width: 980px;
}

footer p {
  padding-left: 30px;
  float: left;
  margin: 7px 0;
}

#social {
  float: right;
  margin-right: 30px;
}

a.facebook {
  background: url(../images/social-icons.png) no-repeat -24px; 0;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-indent: -9999px;
}

a.twitter {
  background: url(../images/social-icons.png) no-repeat 0 0;  
  display: inline-block;
  height: 24px;
  width: 25px;
  text-indent: -9999px;
}

a.mail {
  background: url(../images/social-icons.png) no-repeat -49px; 0;
  display: inline-block;
  height: 24px;
  width: 26px;
  text-indent: -9999px;
}

/* no js handling */

.no-js #card {
  display: none;
}

.js #card {
  display: block;
}

.js #main-no-js {
  display: none;
}

#main-no-js  {
  margin: 5px auto;
  width: 980px;
}

#main-no-js p {
  padding-left: 30px;
  float: left;
}