@IMPORT url("../../standard.css");

#main { 
  margin-top: 40px;
}

#main h1 {
  margin: 0;
}

#main h2 {
  font-size: 1.3em;
}

#main nav {
  float: left;
  padding-right: 10px;
}

#main nav ul li {
  margin: 10px;
}

#content {
  border-left: 1px solid #ccc;
  float: left;
  margin-top: 12px;
  padding-left: 25px;
}

dl {
  border: 1px solid #ccc;
  margin: 0;
  width: 400px;
}

dt {
  background: #41C3D8;
  border-bottom: 1px solid lightGray;
  color: #fff;
  text-align: center;
  padding: 10px;
}

dd {
  background-color: #f4f4f4;
  color: #7d786b;
  margin: 0;
  font-size: 10.0em;
  overflow: auto;
  text-align: center;
}

table {
  border: 1px solid #ccc;
  width: 600px;
}

th {
  background: #41C3D8;
  padding: 10px;
  font-weight: normal;
  color: #fff;
}

td {
  color: #7d786b;
  padding: 10px;
}

tr:nth-child(2n) {
  background: #f4f4f4;
}

tr:nth-child(2n+1) {
  background: #fff;
}

td+td {
  border-left: 1px solid #CCC;
  }