<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
</head>
<body style="margin: 0; padding: 0; background-color: #e6fdc4;" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="e6fdc4" style="background-color: ##e6fdc4">
				<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
					<tr>
					  <td height="15" />
					</tr>
					<tr>
						<td bgcolor="white" style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -webkit-box-shadow: 0px 0px 10px r=gba(0,0,0,0.2); -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);">
							<!-- Header -->
							<table border="0" cellpadding="15" cellspacing="0" width="100%">
								<tr>
									<td align="center">
										<img src="http://localhost:8080/static/images/logo-text.png" style="max-width: 600px;" />
									</td>
								</tr>
							</table>
              <!-- Body -->
              <table border="0" cellpadding="15" cellspacing="0" width="100%">
                <tr>
                  <td>
                    <div style="font-family: Helvetica, Arial, sans-serif; font-size: 13px; line-height: 150%; margin-top: 0; margin-bottom: 0; padding: 0; color: #676766;">
                      {{firstName}},<br />
                      <br/>
                      {{body}}<br />
                      <br/>
                      Sincerely,<br />
                      <br/>
                      Keith Donald<br />
                      Founder, <a href="http://pastimebrevard.com" style="color: #7cc500; text-decoration: none;">Pastime</a><br />
                      <br />
                      <img src="http://localhost:8080/static/images/founder.png" style="max-width: 200px;" id="founder" />
                    </div>                    
                  </td>
                </tr>
              </table>
						</td>
					</tr>
          <tr>
            <td height="15" />
          </tr>					
				</table>
			</td>			
	</table>
</body>
</html>