Thank you for your interest in Pastime.
As founder, I'd like to take this opportunity to share a bit about what we're working on and how you can help us reach our goals.<br/>
<br/>
We have a vision where you can go on-line, discover quality leagues for the sports you love, connect with players who share your passion, form teams, and then get out and play.
We believe you should be able to do this with ease, without high costs, standing in a line, or getting bogged down in paperwork.
We will be working hard to ensure you never miss opportunities to compete simply because you were not aware of them or you didn't have a team to play with.
We will provide you with the tools you need to excel as a teammate, to capture and share each moment, and to learn from each performance.
Above all, it is our goal to create an environment where teams flourish, lifelong friendships are forged, and we all have more time to spend doing what we love.<br/>
<br/>
You can help us realize this vision by simply telling your friends about us and asking them to subscribe.
As an additional incentive, each Brevard County resident you refer earns you a chance to win a free registration for you and your team in a league of your choice.
Our goal is to launch to over a thousand subscribers offering a mix of team sports such as flag football, softball, basketball, soccer, and volleyball.
Please help us spread the word!<br/>
<br/>
Your own personal referral link is: <a href="{{referralLink}}">{{referralLink}}</a><br/>
<br/>
Remember, each Brevard County resident you get to subscribe through your link above earns you a chance to win.
You may gain real-time insight into your referrals at: <a href="{{referralInsightsLink}}">{{referralInsightsLink}}</a><br/>
<br/>
Thanks again for your interest and support of Pastime. Now let's get out and play!