Thank you for your interest in Pastime.
As founder, I'd like to take this opportunity to share more about what we're working on and how you can be a part of it.<br/>
<br />
We have a vision that lets you go on-line, discover leagues for the sports you love, connect with players who share your passion, form teams, and then get out and play.
We believe you should be able to do this with ease, without standing in a line or getting bogged down in paperwork.
Above all, our goal is to create an environment where teams flourish, lifelong friendships are forged, and we all have more time to spend doing what we love.<br />
<br />
Help make this vision a reality by telling your friends about us and asking them to subscribe.
Pastime will <i>go live</i> for Brevard County this spring offering a mix of team sports such as flag football, softball, basketball, soccer, and volleyball.
<strong>Please help us spread the word!</strong><br />
<br />
Also remember each Brevard County resident you refer earns you a chance to <strong>win a free registration for you and your team</strong> in a Pastime-affiliated league of your choice.
Your referral link is <a href="{{referralLink}}" style="color: #7cc500; text-decoration: none;">{{referralLink}}</a>.
Share this link with your friends via email or Facebook and ask them to subscribe.
As long as they subscribe using your link, you'll receive the credit.
Visit <a href="{{referralInsightsLink}}" style="color: #7cc500; text-decoration: none;">{{referralInsightsLink}}</a> to see how well you're doing.<br />
<br />
Thank again for your interest and support. Now let's get out and play!