<!DOCTYPE html>
<html>
  <head>
    <title>404 - Pastime</title>
    <meta charset="utf-8" />
    <meta name="description" content="This is not the page you are looking for." />
    <meta name="keywords" content="Pastime, 404, error, resource not found" />
    <meta name="viewport" content="width=device-width">    
    <meta property="fb:app_id" content="212373618850030" />
    <meta property="fb:admins" content="1255689239" />
    <meta property="og:description" content="This is not the page you are looking for" />
    <meta property="og:image" content="http://pastimebrevard.com/static/app/0.1.0/images/p-icon.png" />
    <meta property="og:site_name" content="Pastime" />
    <meta property="og:title" content="Pastime" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pastimebrevard.com" />
    <link rel="stylesheet" href="/static/app/0.1.0/error.css" />
    <script src="/static/modernizr-2.0.6.47215.js"></script>    
  </head>
  <body>
    <header id="topbar">
      <div class="pagecontent">
        <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="backdrop">
      <div id="sky"></div>
      <div id="grass"></div>
      <div id="foreground">
        <div id="message">
          <h1>The page you requested could not be found</h1>
          <p>Make sure the address you have is correct.</p>        
        </div>    
        <img src="/static//app/0.1.0/images/spike-error.png" alt="Spike" />
      </div>
    </div>
    <footer class="pagecontent">
      <div class="pagecontent">
        <p>&copy; 2012 Pastime Connect LLC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>