<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" class="no-js" lang="en">
<head>
<title>Pastime - Join a League</title>
<meta charset="utf-8" />
<meta name="description" content="Create a new team." />
<meta name="keywords" content="pastime, create team, new team" />
<meta name="viewport" content="width=device-width">
<meta property="fb:app_id" content="212373618850030" />
<meta property="fb:admins" content="1255689239" />
<meta property="og:title" content="Pastime - Create a Team" />
<meta property="og:description" content="Create a new team" />
<meta property="og:url" content="http://pastime.com/teams/create" />
<meta property="og:image" content="http://pastime.com/static/app/0.1.2/images/p-icon.png" />
<meta property="og:site_name" content="Pastime" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<link rel="stylesheet" href="/static/app/0.1.2/leagues/signin.css" />
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
<script src="/static/modernizr-2.5.2.js"></script>
<script src="/static/require-1.0.4.js"></script>
<script>
  require.config({
    baseUrl : "/static/app/0.1.2",
    paths : {
      "dateformat": "../../libs/dateformat/1.0.0/dateformat",
      "es5-shim": "../../libs/es5-shim/1.3.0.snapshot/es5-shim",      
      "handlebars" : "../../libs/handlebars/1.0.0.beta6/handlebars",
      "jquery" : "../../libs/jquery/1.7.1/jquery",
      "mvc" : "../../libs/mvc/0.1.0.snapshot/mvc",
      "text" : "../../libs/requirejs-text/1.0.2/text",
      "textselect" : "../../libs/textselect/1.0.0/textselect",
      "polyfiller" : "../../libs/webshims/1.8.7/polyfiller"
    },
    priority : [ "common", "leagues/signin" ]
  });
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push([ '_setAccount', 'UA-28760845-1' ]);
  _gaq.push([ '_trackPageview' ]);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
  <div id="main-no-js">
    <p>JavaScript must be enabled to use this site. Please enable JavaScript in your browser and refresh the page.</p>
  </div>
  <header id="topbar">
    <div class="pagecontent">
      <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="main" class="pagecontent">
    <form>
      <h2>We need to know who you are</h2>
      <label>      
        <strong>I already have a Pastime account</strong>      
        <input name="account" type="radio" value="existing">
      </label>
      <label>
        <strong>I don't have a Pastime account</strong>      
        <input name="account" type="radio" value="new" />
      </label>
    </form>
    <div id="accountSelectionResult">
      <!-- Content dynamically inserted -->
    </div>
  </div>  
  <footer>
    <div class="pagecontent">
      <p>&copy; 2012 Pastime. All rights reserved. <a href="/about">About</a>.</p>
    </div>
  </footer>
</body>
</html>