<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" class="no-js" lang="en">
<head>
<title>Decline Team Membership</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/app/0.1.2/signup.css" />
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
<script src="/static/modernizr-2.5.2.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push([ '_setAccount', 'UA-28760845-1' ]);
  _gaq.push([ '_trackPageview' ]);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
  <div id="main-no-js">
    <p>JavaScript must be enabled to use this site. Please enable JavaScript in your browser and refresh the page.</p>
  </div>
  <header id="topbar">
    <div class="pagecontent">
      <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="main" class="pagecontent">
    <h1>Confirmation Required</h1>
    <h2>Decline Team Membership</h2>
    <form id="completePlayer" action="/teams/{{teamId}}/invites/{{code}}" method="post">
      <p>You've indicated you don't play on the team "{{team}}".</p>
      <p>If you meant to do this, please confirm and we'll let the team admin know.</p>
      <button>Confirm</button>
      <input type="hidden" name="method" value="DELETE" />
    </form>    
  </div>  
  <footer>
    <div class="pagecontent">
      <p>&copy; 2012 Pastime. All rights reserved. <a href="/about">About</a>.</p>
    </div>
  </footer>
</body>
</html>