<!DOCTYPE html>
<html>
  <head>
    <title>Referral Summary | {{ referralCode }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="How many people used referral code '{{referralCode}}' to subscribe to Pastime." />
    <meta name="keywords" content="Pastime, referrals, referral, referral code, {{referralCode}}" />
    <meta name="viewport" content="width=device-width">    
    <meta property="fb:app_id" content="212373618850030" />
    <meta property="fb:admins" content="1255689239" />
    <meta property="og:description" content="How many people used referral code '{{ referralCode }}' to subscribe to Pastime." />
    <meta property="og:image" content="http://pastimebrevard.com/static/app/0.1.0/images/p-icon.png" />
    <meta property="og:site_name" content="Pastime" />
    <meta property="og:title" content="Pastime" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pastimebrevard.com/referrals/{{referralCode}}" />
    <link rel="stylesheet" href="/static/app/0.1.0/prelaunch/referrals/referrals.css" />
    <script src="/static/modernizr-2.0.6.js"></script>
    <script type="text/javascript">   
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28760845-1']);
      _gaq.push(['_trackPageview']);    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();   
    </script>         
  </head>
  <body>
    <header id="topbar">
      <div class="pagecontent">
        <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" class="pagecontent">
      <hgroup>
        <h1>Referral Insights</h1>
        <h2>{{referralCode}}</h2>
      </hgroup>
      <nav>
        <ul>
          <li><strong>Summary</strong></li>
          <li><a href="../referrals/{{referralCode}}/detail">Detail</a></li>
        </ul>
      </nav>
      <div id="content">
        <dl>
          <dt>Total Referrals</dt>
          <dd>{{totalReferrals}}</dd>
        </dl>
      </div>
    </div>
    <footer>
      <div class="pagecontent">
        <p>&copy; 2012 Pastime Connect LLC. All rights reserved. <a href="/about">About</a>.</p>
      </div>
    </footer>
  </body>
</html>