@IMPORT url("base.css");

#card {
  clear: left;
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  width: 980px;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  overflow: auto;
  padding: 0 0 35px 0;
}

header hgroup {
  float: left;
}

header h1 {
  background: url(images/logo-text.png);
  height: 69px;
  margin: 0;
  margin-top: 5px;
  text-indent: -9999px;
  width: 229px;
}

header h2 {
  color: #80c608;
  font-size: 22px;
  font-weight: normal;
  margin: 3px 0 0;
  padding-left: 28px;
}

header #banner {
  background-color: #7cc733;
  background: url(images/brevard-seal.png) no-repeat bottom right, -moz-linear-gradient(100% 100% 90deg, #6fc41d, #acd281);
  background: url(images/brevard-seal.png) no-repeat bottom right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6fc41d), to(#acd281) );
  font-size: 14px;
  float: right;
  padding: 25px 95px 25px 25px;
  width: 190px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #fff;
  position: absolute;
  top: 160px;
  right: 12px;
  z-index: 3;
  font-size: 16px;
}

header #banner p {
  color: #ffffff;
  margin: 0;
  line-height: 1.2em;
}

#content {
  padding: 30px;
  padding-bottom: 50px;
  background-color: #02519c;
  background: -moz-linear-gradient(100% 100% 90deg, #2a7cc6, #02519c);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#02519c), to(#2a7cc6) );  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

#content p {
  color: #ffffff;
}

#mission h1 {
  margin: 0;
  color:#ffffff;
  font-weight: normal;
  font-size:29px;
}

#mission p {
  font-size: 20px;
  margin: 0;
  color:#f1c354;
}

#icons {
  list-style: none;
  overflow: hidden;
  padding: 8px 0 8px 30px;
  background-color: #00acc0;
  margin: 20px -30px 28px -30px;
}

#icons li {
  float: left;
  width: 27px;
  height: 27px;
  text-indent: -9999px;
}

#football {
  background: url(images/icon-football.png) no-repeat;
  padding-left: 50px;
}

#softball {
  background: url(images/icon-softball.png) no-repeat;
  padding-left: 50px;
}

#basketball {
  background: url(images/icon-basketball.png) no-repeat;
  padding-left: 50px;
}

#soccer {
  background: url(images/icon-soccer.png) no-repeat;
  padding-left: 50px;
}

#volleyball {
  background: url(images/icon-volleyball.png) no-repeat;
  padding-left: 50px;
}

#tennis {
  background: url(images/icon-tennis.png) no-repeat;
  padding-left: 50px;
}

#hockey {
  background: url(images/icon-hockey.png) no-repeat;
}

#spike h1 {
  background: url(images/spike-header.png) no-repeat;
  height: 219px;
  width: 177px;
  position: absolute;
  left: 732px;
  right: 0px;
  bottom: 350px;
  text-indent: -9999px;
  z-index:0;
}

#learn {
  overflow: hidden;
  font-size:15px;
}

#learn h2 {
  font-size: 1.3em;
  color: #f1c354;
  font-weight:normal;
  margin:0;
  padding:0;
}

#discoverLeagues {
  border-right: 1px solid #5582ab;
  float: left;
  padding-right: 15px;
  width: 165px;
}

#formTeams {
  border-right: 1px solid #5582ab;
  float: left;
  padding-left: 20px;
  padding-right: 15px;
  width: 165px;
}

#play {
  float: left;
  padding-left: 20px;
  width: 190px;
}

#subscribe {
  background:#fff;
  position:absolute;
  width: 250px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border:1px solid #fff;
  position:absolute;
  top: 210px;
  right: 12px;
  z-index:3;
  padding: 14px 30px;
  text-align: center;
}

#subscribe p {
  color: #15c5e4;
  font-size: 18px;
  display: inline;
}

#subscribe form input[type="email"], form input[type="text"] {
  color: #a7a7a7;
  font-size: 14px;
  width: 178px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 5px auto 0 auto;
  
}

#subscribe button {
  background-image: #6bbe1a;
  color: #ffffff;
  font-size: 14px;
  width: 190px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  text-shadow: none;
  margin-top: 4px;
}


#thanks h1 {
  font-size: 1.3em;
  text-align: center;
}

#thanks h2 {
  font-size: 1.2em;
}

#thanks p strong {
  text-transform: uppercase;
}

#thanks p {
  font-size: 0.8em;
}

#referrals {
  overflow: auto;
}

#referralLink {
  color: #7d786b;
  background-color: #f4f4f4;
  border: 1px solid lightGray;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

footer {
  color: #9a9893;
  font-size: 11px;
  text-align: center;
  padding: 10px;
}