@IMPORT url("base.css");

#floater {
  float: left;
  height: 50%;
  margin-bottom: -368px;
  position: relative;
  width: 1px;
}

#card {
  clear: left;
  background-color: #ffffff;
  border: 1px solid lightGray;
  margin: 0 auto;
  position: relative;
  width: 980px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 4px #f4f4f4;
  -moz-box-shadow: 0px 0px 4px #f4f4f4;
  box-shadow: 0px 0px 4px #f4f4f4;
}

header {
  background-image: -moz-linear-gradient(100% 100% 90deg, #fefeda, #ffffff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fefeda) );
  border-bottom: 2px solid #f4f4f4;
  overflow: auto;
  padding: 20px;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

header hgroup {
  float: left;
}

header h1 {
  background: url(images/logo.png);
  height: 69px;
  margin: 0;
  text-indent: -9999px;
  width: 229px;
}

header h2 {
  color: #8f8468;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  margin: 3px 0 0;
  padding-left: 28px;
}

header #banner {
  background-color: #7cc733;
  background: url(images/brevard-seal.png) no-repeat bottom right, -moz-linear-gradient(100% 100% 90deg, #6fc41d, #acd281);
  background: url(images/brevard-seal.png) no-repeat bottom right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6fc41d), to(#acd281) );
  font-size: 14px;
  float: right;
  padding: 25px 100px 25px 25px;
  width: 485px;
}

header #banner p {
  color: #ffffff;
  margin: 0;
}

#content {
  padding: 45px;
}

#mission h1 {
  margin: 0;
}

#mission p {
  font-size: 1.3em;
  margin: 0;
}

#icons {
  list-style: none;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

#icons li {
  float: left;
  width: 47px;
  height: 47px;
  text-indent: -9999px;
}

#football {
  background: url(images/icon-football.png) no-repeat;
  padding-left: 50px;
}

#softball {
  background: url(images/icon-softball.png) no-repeat;
  padding-left: 50px;
}

#basketball {
  background: url(images/icon-basketball.png) no-repeat;
  padding-left: 50px;
}

#soccer {
  background: url(images/icon-soccer.png) no-repeat;
  padding-left: 50px;
}

#volleyball {
  background: url(images/icon-volleyball.png) no-repeat;
  padding-left: 50px;
}

#tennis {
  background: url(images/icon-tennis.png) no-repeat;
  padding-left: 50px;
}

#hockey {
  background: url(images/icon-hockey.png) no-repeat;
}

#spike h1 {
  background: url(images/spike.png) no-repeat;
  height: 376px;
  position: absolute;
  left: 732px;
  right: 0px;
  bottom: 145px;
  text-indent: -9999px;
}

#learn {
  overflow: hidden;
}

#learn h2 {
  font-size: 1.3em;
}

#discoverLeagues {
  border-right: 1px solid #e1dfdd;
  float: left;
  padding-right: 20px;
  width: 190px;
}

#formTeams {
  border-right: 1px solid #e1dfdd;
  float: left;
  padding-left: 25px;
  padding-right: 20px;
  width: 190px;
}

#play {
  float: left;
  padding-left: 25px;
  width: 215px;
}

#subscribe {
  background-image: -moz-linear-gradient(100% 100% 90deg, #44919e, #5cc2d5, #44919e);
  background-image: -webkit-linear-gradient(#44919e, #5cc2d5, #44919e);
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  text-shadow: 1px 1px 1px #418895;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

#subscribe p {
  color: #ffffff;
  font-size: 1.4em;
  display: inline;
}

#thanks h1 {
  font-size: 1.3em;
  text-align: center;
}

#thanks h2 {
  font-size: 1.2em;
}

#thanks p strong {
  text-transform: uppercase;
}

#thanks p {
  font-size: 0.8em;
}

#referrals {
  overflow: auto;
}

#referralLink {
  color: #7d786b;
  background-color: #f4f4f4;
  border: 1px solid lightGray;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

footer {
  color: #9a9893;
  font-size: 11px;
  text-align: center;
  padding: 10px;
}