/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,
b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,
thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

html {
  height:100%;
}

body {
  background-attachment: fixed;
  background-color: #f6f6f6;
  background-image: -moz-linear-gradient(100% 100% 90deg, #ffffff, #f6f6f6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6) );
  background-repeat: no-repeat;
  height: 100%;
  line-height: 1;
}

ol,ul {
  list-style: none outside none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: none;
}

ins {
  background-color: #ffff99;
  color: #000000;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

acronym,abbr {
  cursor: help;
}

input,select {
  overflow: visible;
  padding: 0 0.25em;
  vertical-align: middle;
}

select {
  padding-right: 0;
}

button {
  overflow: visible;
  padding: 0 0.25em;
  width: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

abbr[title],dfn[title] {
  border-bottom: 1px dotted #FFFFFF;
  cursor: help;
}

article,aside,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

/* base styles */

p {
  font-size: 16px;
  line-height: 1.3em;
  color: #7d786b;  
}

h1,h2 {
  color: #9d8956;  
  font-weight: 600;
}

h1 {
  font-size: 26px;
}

h2 {
	font-size: 22px;  
}

button {
  background-image: -moz-linear-gradient(100% 100% 90deg, #6bbe1a, #afd18c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afd18c), to(#6bbe1a) );
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 6px 9px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.40);
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.15);
}

form input[type="email"], form input[type="text"] {
  width: 200px;
  border: 1px solid #b4b5ad;
  margin-right: 6px;
  outline: none;
  padding: 6px;
  position: relative;
  top: -1px;
  color: #696a65;
  font-weight: normal;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
}

form input[type="text"] {
  width: 120px;
  margin-left:18px;
}

/* general page styles */

#floater {
	float: left;
	height: 50%;
	margin-bottom: -320px;
	position: relative;
	width: 1px;
}

#card {
  clear: left;
  background-color: #ffffff;
  border: 1px solid lightGray;  
	margin: 0 auto;
	position: relative;  
  width: 980px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 4px #f4f4f4;
  -moz-box-shadow: 0px 0px 4px #f4f4f4;
  box-shadow: 0px 0px 4px #f4f4f4;  
}

header {
  background-image: -moz-linear-gradient(100% 100% 90deg, #fefeda, #ffffff);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fefeda) );
  border-bottom: 2px solid #f4f4f4;
  overflow: auto;
  padding: 15px 10px 15px 10px;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;  
}

header hgroup {
  float: left;
}

header h1 {
  background: url(images/logo.png);
  height: 69px;
  margin-bottom: 2px;
  text-indent: -9999px;
  width: 229px;
}

header h2 {
  color: #8f8468;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  padding-left: 29px;
}

header #banner {
  background-color: #7cc733;
  background: url(images/brevard-seal.png) no-repeat bottom right, -moz-linear-gradient(100% 100% 90deg, #6fc41d, #acd281);
  background: url(images/brevard-seal.png) no-repeat bottom right, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6fc41d), to(#acd281) );
	color: #ffffff;
	font-size: 14px;
	float: right;
  padding: 30px 100px 30px 30px;
	width: 485px;
}

#spike h1 {
	background: url(images/spike.png) no-repeat;
	height: 376px;
	position: absolute;
	left: 725px;
	right: 0px;
	bottom: 138px;
	text-indent: -9999px;
}

#content {
  padding: 40px;
}

#mission h1 {
  margin-bottom: 3px;	
}

#mission p {
  font-size: 20px;
}

#icons {
  padding-top: 40px;
  padding-bottom: 40px;
}

#icons ul {
	list-style: none;
	overflow: hidden;
}

#icons li {
	float: left;
	width: 47px;
	height: 47px;
	text-indent: -9999px;
}

#football {
	background: url(images/icon-football.png) no-repeat;	
	padding-left: 50px;
}

#softball {
	background: url(images/icon-softball.png) no-repeat;	
	padding-left: 50px;	
}

#basketball {
	background: url(images/icon-basketball.png) no-repeat;	
	padding-left: 50px;	
}

#soccer {
	background: url(images/icon-soccer.png) no-repeat;	
	padding-left: 50px;	
}

#volleyball {
	background: url(images/icon-volleyball.png) no-repeat;	
	padding-left: 50px;	
}

#tennis {
	background: url(images/icon-tennis.png) no-repeat;
	padding-left: 50px;	
}

#hockey {
	background: url(images/icon-hockey.png) no-repeat;	
}

#learn {
  overflow: hidden;
}

#learn h2 {
	margin-bottom: 14px;
}

#discoverLeagues {
	border-right: 1px solid #e1dfdd;
	float: left;
	padding-right: 20px;
	width: 190px;
}

#formTeams {
	border-right: 1px solid #e1dfdd;
	float: left;
	padding-left: 25px;
	padding-right: 20px;
	width: 190px;
}

#play {
	float: left;
	padding-left: 25px;
	width: 215px;
}

#subscribe {
	background-image: -moz-linear-gradient(100% 100% 90deg, #44919e, #5cc2d5, #44919e);
  background-image: -webkit-linear-gradient(#44919e, #5cc2d5, #44919e); 
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  text-shadow: 1px 1px 1px #418895; 
  -webkit-border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
}

#subscribe p {
  color: #ffffff;
  font-size: 24px;
  display: inline;  
}

footer {
  color: #9a9893;
  font-size: 11px;
  text-align: center;
  padding: 10px;
}