@IMPORT url("base.css");

header {  
  background-color: #224E98;
  background-image: -moz-linear-gradient(100% 100% 90deg, #224E98, #4178C5);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#224E98), to(#4178C5) );
  height: 49px;
}

header h1 {
  float: left;
  color: #fff;
  margin: 0;
  line-height: 1.55em;
}

nav {
  float: right;
}

nav a {
  color: #fff  
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  line-height: 3.1em;
}

#main {
  padding: 10px;
}

footer {  
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  margin: auto;
  width: 920px;  
}

dl {
  width: 400px;
}

dt {
  border: 1px solid lightGray;
  color: #7d786b;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

dd {
  background-color: #f4f4f4;
  color: #7d786b;
  margin: 0;
  font-size: 10.0em;
  text-align: center;
}
