@IMPORT url("base.css");

.pagecontent {
  margin: auto;
  width: 920px;  
}

#topbar {  
  background-color: #224E98;
  background-image: -moz-linear-gradient(100% 100% 90deg, #2a7cc6, #02519c);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#02519c), to(#2a7cc6) );
  height: 49px;  
}

#topbarLogo {
  background: url(images/logo-topbar.png);
  color: #fff;
  height: 40px;
  float: left;
  margin-top: 3px;
  text-indent: -9999px;
  width: 135px;
}

#topbar a {
  color: #fff  
}

#topbar nav {
  float: right;
}

#topbar nav ul li {
  float: left;
  line-height: 3.1em;
}

footer {
  clear: both;
  width: 100%;
  padding-top: 20px;
}

footer p {
  font-size: 0.8em;
}