@IMPORT url("base.css");

.pagecontent {
  margin: auto;
  width: 920px;  
}

#topbar {  
  background-color: #02519c;
  background-image: linear-gradient(top, #02519c, #2a7cc6); /* the standard */
  background-image: -moz-linear-gradient(top, #02519c, #2a7cc6); /* FF 3.6+ */
  background-image: -ms-linear-gradient(top, #02519c, #2a7cc6); /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #02519c), color-stop(100%, #2a7cc6)); /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(top, #02519c, #2a7cc6); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(top, #02519c, #2a7cc6); /* Opera 11.10 */
  height: 49px;  
}

#topbarLogo {
  background: url(images/logo-topbar.png);
  color: #fff;
  height: 40px;
  float: left;
  margin-top: 3px;
  text-indent: -9999px;
  width: 135px;
}

#topbar a {
  color: #fff  
}

#topbar nav {
  float: right;
}

#topbar nav ul li {
  float: left;
  line-height: 3.1em;
}

footer {
  clear: both;
  width: 100%;
  padding-top: 20px;
}

footer p {
  font-size: 0.8em;
}