@IMPORT url("standard.css");

/* signup form */

input#firstname {
  width: 136px;
}

input#lastname {
  width: 136px;
}

select#month {
  width: 136px;
}

input#day {
  width: 50px;
}

input#year {
  width: 78px;
}