<!DOCTYPE html>
<html>
  <head>
    <title>About Pastime</title>
    <meta charset="utf-8" />
    <meta name="description" content="Describes what you should expect when using Pastime." />
    <meta name="keywords" content="Pastime, subscriber, referrals" />
    <meta property="fb:app_id" content="212373618850030" />
    <meta property="fb:admins" content="1255689239" />
    <meta property="og:description" content="Describes what you should expect when using Pastime." />
    <meta property="og:image" content="http://pastimebrevard.com/static/app/0.1.0/images/p-icon.png" />
    <meta property="og:site_name" content="Pastime" />
    <meta property="og:title" content="Pastime" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pastimebrevard.com/about" />
    <link rel="stylesheet" href="/static/app/0.1.0/standard.css" />
    <script src="/static/modernizr-2.0.6.js"></script>    
  </head>
  <body>
    <header id="topbar">
      <div class="pagecontent">
        <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" class="pagecontent">
      <article id="about">
        <h1>About Pastime</h1>
        <p>
          This web site, pastimebrevard.com, is owned and operated by Pastime Connect LLC, a Florida-based business founded by Keith Donald.
          We want you to know what you should expect when using this site.
          We are users, too, and believe you should be fully informed about how your information will be used.
        </p>
        <p>
          Pastime is a service for adults and youth who enjoy playing team sports such as flag football, softball, basketball, soccer, and volleyball.
          We help you discover sports leagues in your local community, find and form teams, and play.
          We do this by providing online search, social networking, registration, and schedule services. 
          Additionally, we provide unique features such as player profiles, team timelines, game previews, recaps, and analytics.
          Players benefit because they find it much easier to get out and enjoy the sports they love;
          leagues benefit from increased player interest and enrollment along with reduced administrative costs.
        </p>
        <p>
          Pastime is currently under development and will launch in Brevard County, Florida this spring for summer 2012 seasons.
          You may subscribe to get notified on the day we launch by submitting your name and email at pastimebrevard.com.
          You can help us have a successful launch by subscribing and telling your friends about us.
          As a further incentive, each Brevard County resident you refer earns you a chance to win a free registration for you and your team
          in a Pastime affiliated sports league of your choice.
        </p>
        <p>
          When you subscribe, we will <strong>never</strong> disclose or publish your email address to any third party.
          We will only use your email address to send you low-volume announcements regarding Pastime.
          You may also <a href="/unsubscribe">unsubscribe</a> at any time.
        </p>
        <p>
          After you subscribe, you will receive a welcome email from our founder.
          This email will include a link you may use to gain insight into your referrals.
          When you access your referral page you will be able to see how many referrals you have made in real time.
          In addition, for each referral you will see the date the subscriber joined along with his or her first name and the first initial of their last name.
          We do not disclose full last names in an effort to respect the privacy of our subscribers.
        </p>
        <p>
          We hope you enjoy Pastime and thank you for supporting our launch.
          Please contact <a href="mailto:keith@pastimebrevard.com">Keith Donald</a> if you have any questions.
        </p>
      </article>
    </div>
    <footer class="pagecontent">
      <div class="pagecontent">
        <p>&copy; 2012 Pastime Connect LLC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>