<!DOCTYPE html>
<html>
  <head>
    <title>You're Subscribed</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/standard.css" />
  </head>
  <body>
    <header id="topbar">
      <div class="pagecontent">
        <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" class="pagecontent">
      <h1>You're Subscribed!</h1>
    </div>
    <footer class="pagecontent">
      <div class="pagecontent">
        <p>&copy; 2012 Pastime Connect LLC. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>