<!DOCTYPE html>
<html>
  <head>
    <title>Pastime</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/standard.css" />        
  </head>
  <body>
    <header id="topbar">
      <div class="pagecontent">
        <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" class="pagecontent">
      <form method="POST" style="margin-top: 20px;">
        <input type="password" name="password" size="30" required/>
        <button>Submit</button>
      </form>
    </div>
    <footer class="pagecontent">
      <div class="pagecontent">
        <p>&copy; 2012 Pastime Connect LLC. All rights reserved. <a href="/about">About</a>.</p>
      </div>
    </footer>
  </body>
</html>