<!DOCTYPE html>
<html>
  <head>
    <title>Pastime Referral Detail</title>
    <meta charset="utf-8" />
    <meta name="description" content="A list of the subscribers referred by other subscribers." />
    <meta name="keywords" content="Pastime, subscriber, referrals" />
    <meta property="fb:app_id" content="212373618850030" />
    <meta property="fb:admins" content="1255689239" />
    <meta property="og:description" content="A list of the subscribers referred by other subscribers." />
    <meta property="og:image" content="http://pastimebrevard.com/static/app/0.1.0/images/p-icon.png" />
    <meta property="og:site_name" content="Pastime" />
    <meta property="og:title" content="Pastime" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://pastimebrevard.com/referrals/detail" />
    <link rel="stylesheet" href="/static/app/0.1.0/prelaunch/referrals/referrals.css" />
    <script src="/static/modernizr-2.0.6.js"></script>    
  </head>
  <body>
    <header id="topbar">
      <div class="pagecontent">
        <a id="topbarLogo" href="/" title="Pastime">Pastime</a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main" class="pagecontent">
      <hgroup>
        <h1>Referral Insights</h1>
        <h2>All</h2>
      </hgroup>
      <nav>
        <ul>
          <li><a href="../referrals">Summary</a></li>
          <li><strong>Detail</strong></li>
        </ul>
      </nav>
      <div id="content">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Referred By</th>
            </tr>
          </thead>
          <tbody>
            {{#referrals}}
              <tr>
                <td>{{date}}</td>
                <td>{{name}}</td>
                <td><a href="/referrals/{{referralCode}}">{{referredBy}}</a></td>
              </tr>
            {{/referrals}}
          </tbody>
        </table>
      </div>
    </div>
    <footer>
      <div class="pagecontent">
        <p>&copy; 2012 Pastime Connect LLC. All rights reserved. <a href="/about">About</a>.</p>
      </div>
    </footer>
  </body>
</html>